@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>
@{
    ViewData["Title"] = "List of User Roles";
}

<h2>@ViewData["Title"]</h2>
<h3>Create new Role:</h3>
<form asp-action="CreateRole">
    <input type="text" name="roleName" />
    <input type="submit" value="Create Role" />
</form>
<table class="table">
    <tr><th>Name</th><th></th></tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>
                <a asp-action="UsersInRole"
                   asp-route-roleId="@item.Id"
                   asp-route-roleName="@item.Name">
                    Users in Role
                </a>
                @if (item.Name != "administrators")
                {
                    <a>Delete Role</a>
                }

            </td>
        </tr>
    }
</table>
